/* You can add global styles to this file, and also import other style files */

.links {
    list-style:none inside;
    margin:0;
    padding:0;
    text-align:center;
    }

.links li {
    display:block;
    position:relative;
    float:left;
	font-size: 25px;
    /*background: #006633; /* menu background color */
    }

.links li a {
    display:block;
    padding:0;
    text-decoration:none;
    width:200px; /* this is the width of the menu items */
    line-height:35px; /* this is the hieght of the menu items */
    color:black; /* list item font color */
    }
        
.links li li a {font-size:70%;} /* smaller font size for sub menu items */
    
.links li:hover {background:grey;} /* highlights current hovered list item and the parent list items when hovering over sub menues #003f20 */


/*--- Sublist Styles ---*/
.links ul {
    position:absolute;
    padding:0;
    left:0;
    display:none; /* hides sublists */
    }

.links li:hover ul ul {display:none;} /* hides sub-sublists */

.links li:hover ul {display:block;} /* shows sublist on hover */

.links li li:hover ul {
    display:block; /* shows sub-sublist on hover */
    margin-left:200px; /* this should be the same width as the parent list item */
    margin-top:-35px; /* aligns top of sub menu with top of list item */
    }

